@media (max-width:768px) {
    .container{
        width: 75vw;
        height: 85vh;
    }

    .container .sign-up form{
        background-color: #fff;
    }

    .mobile{
        position: relative;
        visibility: visible;
    }

    .toggle-container{
        display: none;
    }

    .sign-in{
        left: 100;
        width: 100%;
        z-index: 1;
    }
    
    .container.active .sign-in{
        transform: translateX(-100%);
    }
    
    .sign-up{
        transform: translateX(100%);
        right: 0;
        width: 100%;
        opacity: 2;
        z-index: 15;
    }
    
    .container.active .sign-up{
        transform: translateX(0%);
        opacity: 2;
        z-index: 15;
    } 

    /**/
    .social-icons{
        margin: 20px 0;
    }

    .social-icons a{
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
    }

    .social-icons a:hover{
        border: 2px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 42px;
        height: 42px;
    }

    .pass{
        font-weight: 600;
    }
}

@media (max-width:480px){
    .container{
        width: 90vw;
        height: 90vh;
    }
}
